<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-serialusb" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Serial USB</name>
    <js-module name="SerialUSB" src="www/SerialUSB.js">
        <clobbers target="window.SerialUSB" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SerialUSB">
                <param name="android-package" value="rs.prdc.serialusb.SerialUSB" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/SerialUSB.java" target-dir="src/rs/prdc/serialusb" />
        <source-file src="src/android/UsbBroadcastReceiver.java" target-dir="src/rs/prdc/serialusb" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
